html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
dd, dl, dt,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
/*    font-family: Arial, sans-serif; */
  font-size: 10pt;
  margin:0;
}

.ititle {
  background-color: #5896B2;
  border-radius: 10px;
  color: white;
  margin: 15px;
  padding: 10px;
  padding-left: 50px;
}

button {
  border: none;
  cursor: pointer;
}

.switchBt {
  background-color: #C1C1C1;
  border-radius: 10px 10px 0 0;
  color: white;
  font-weight: bold;
  margin:  0 0 0 10px;
  padding: 10px;
}

.tabActiv {
  background-color: #5896B2;
  border: 1px gray;
  color: white;
}

.tab {
  border: 3px solid #5896B2;
  border-radius: 0 0 10px 10px;
  margin: 0px 10px 10px 10px;
  padding: 40px;
}

.tabShow {
  display: block;
}

.tabHidden {
  display: none;
}

.buttonConfig {
  margin-left: 10px;
}

#msgErr {
  color: white;
  font-size: 15pt;
  padding: 15px;
  padding-left: 50px;
  width:100%;
  transition: opacity 1s; 
  z-index: 22; 
}

#msgErr.fade {
  opacity: 0;
}

#msgContent {
  display: inline-block;
}

