<% if @apiContent['type'] %>
  document.getElementById('mainFrame').innerHTML="<%= escape_javascript (render :partial => @apiContent['type'][0], :remote => true)%>";

  <% if @apiContent['type'][0] == "users" %>

    var mdpGen = (document.querySelectorAll('.generate'));
    var mdpGenLen = mdpGen.length;
    var submitEl = document.querySelectorAll('#modif');
    var submitElSize = submitEl.length;
    var submitElA

    for (var a=0 ; a<submitElSize ; a++) {
      var submitElA = submitEl[a]
      var inputEl = submitElA.parentNode.querySelectorAll('.editable');
      var inputElSize = inputEl.length
      for (var b=0 ; b<inputElSize ; b++) {
        var inputElEdit = inputEl[b]
        checkInput(inputElEdit);
        inputElEdit.addEventListener('input', function(){
          checkInput(this);
        });
      }
    }

    var deleteAction = document.querySelectorAll('.deleteEntry')
    nbDeleteAction = deleteAction.length
    if (nbDeleteAction>0) {
      for (var c=0; c<nbDeleteAction; c++) {
        deleteButton = deleteAction[c]
        deleteButton.addEventListener('click', function(event){
          event.preventDefault();
          whichDeletion = this.id.split(/delete-/).join('')
          deleteEntry(whichDeletion)
        })
      }
    }

    function checkInput(inputEl){

      var remove = false;
      inputElList = inputEl.parentNode.querySelectorAll('.editable')
      var inputElSize = inputElList.length
      for (var b=0 ; b<inputElSize ; b++) {
        var inputElEdit = inputElList[b]
          if (inputElEdit.value.length > 0 ) {
            remove = true;
          }
          else {
            remove = false;
            break;
          }
      }
      if (remove == true) {
       inputElEdit.parentNode.querySelector("#modif").removeAttribute('disabled')
      }
      else {
       inputElEdit.parentNode.querySelector("#modif").setAttribute('disabled', true)
      }
    }


    if (mdpGenLen > 0) {
      for (var i=0; i<mdpGenLen ; i++) {
        var mdpIdName = mdpGen[i].id.split('-')[1];
        var mdpButton = "genPwdButton-"+mdpIdName;
        document.getElementById(mdpButton).addEventListener('click', function(event) {
          event.preventDefault();
          var name = this.id.split('-')[1];
	  			var genPass = document.createElement('script');
	  			genPass.src = "/napi/mdpGen?name="+name;
	  			genPass.onload = genPassApply;
	  			document.body.appendChild(genPass);
          document.body.removeChild(genPass);
        })
      }
    }

    function genPassApply(){
        var mdpMd5 = document.getElementById('password-'+mdpGen['name']);
        mdpMd5.value=mdpGen['md5'];
        var mdpClear = document.getElementById('genPwdClear-'+mdpGen['name']);
        mdpClear.innerHTML=mdpGen['clear'];
        checkInput(mdpMd5);
    }

    function deleteEntry(whichEl) {
      console.log(whichEl)
      var lightbox = document.createElement("div");
      var dimmer = document.createElement("div");
      dimmer.className = 'dimmer';
      lightbox.id = 'lightbox';

      document.body.appendChild(dimmer);
      document.body.appendChild(lightbox);

      lightbox.style.visibility = 'visible';
      lightbox.style.top = '25%';
      lightbox.style.left = '40%';

      lightbox.innerHTML = '\
          <p>Are you sure you want to delete "'+ whichEl +'" user?</p>\
          <div class="formDel">\
          <form method="get" action="/api/user_delete" >\
          <input type="hidden" name="name" value="'+ whichEl +'" />\
          <div class="deleteUser"><input class="subDelEntry" type="submit" value="Yes" />\
          <button class="cancelDeleteUser">No</button></div>\
          </form>\
          </div>\
          ';

      var cancelEl = lightbox.querySelector('.cancelDeleteUser');
      cancelEl.addEventListener('click', function(event){
          var dimmer = document.querySelectorAll('.dimmer')[0]
          var lightbox = document.getElementById('lightbox')
          document.body.removeChild(lightbox);
          document.body.removeChild(dimmer);
      })
    }

  <% elsif @apiContent['type'][0] == "music" %>

      var dirAllEl = document.querySelectorAll('.dir');
      var subEl = document.querySelector('.leftEntryActiv')

      for (var a=0, b=dirAllEl.length ; a < b ; a++) {
        dirAllEl[a].addEventListener('click', function(){
          var dir = this.getAttribute('data-name');
          redisContent['path']['current'] = dir
          setRedis("", "path", JSON.stringify(redisContent['path']), function(){
            subMenu("music_directories")
          })
        })
        plusDir = dirAllEl[a].parentNode.querySelector('.fa-folder');
        plusDir.addEventListener('click', function(event){console.log(this)})
      }
      getRedis("")

      allElements = document.querySelectorAll('.fa-plus-circle');
      l = allElements.length
      for (var k = 0 ; k < l ; k++) {
        allElements[k].addEventListener('click', function() {
          addToPlaylist(this)
        })
      }

  <% end %>
<% end %>
