<!doctype html>
<html lang="fr">
  <head>
    <title>Hey!</title>
      <link href="/font/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
      <link href="/soundlike/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
  <noscript><div class="javascriptMessage">You should to enable JavaScript to continue!</div></noscript>
  <div id="banner">
    <div id="msgErr">
      <p id="msgContent"><%= @msgErr %></p>
    </div>
    <div id="banner-logo">
      <img src='/logo2.png'/>
    </div>
    <div id="banner-menu">
      <%= render 'menu' %>
    </div>
    <div id="banner-player">
      <div class= "player-buttons">
        <i player-button="picture" class="ba-player" > <img class="sound-picture" src="/equa.svg" /></i>
        <i player-button="preview" class="ba-player fa fa-fw fa-step-backward fa-2x"></i>
        <i player-button="stop" class="ba-player fa fa-fw fa-stop fa-2x"></i>
        <i player-button="player" class="ba-player fa fa-fw fa-play fa-2x"></i>
        <i player-button="next" class="ba-player fa fa-fw fa-step-forward fa-2x"></i>
        <i player-button="repeated" class="ba-player fa fa-fw fa-repeat fa-2x"></i>
        <i player-button="shuffled" class="ba-player fa fa-fw fa-random fa-2x"></i>
        <i player-button="muted" class="ba-player fa fa-fw fa-volume-off fa-2x"></i>
      </div>
      <div class="player-audio">
        <audio id="player-timeline" ></audio>
      </div>
    </div>
    <div id="banner-user" >
     <i class="ba-logo fa fa-user"></i><p class="welcome">Welcome <%= session['user_id'] %>!</p><i class="ba-logo fa fa-sign-out"></i>
    </div>
  </div>
    <div id="content">
    <div id="menuLeft">
 <%= render 'menuLeft' %>
 </div>

    <div id="mainFrame">
    </div>
  </div>


  <script src="/script.js"  type="text/javascript"></script>
  <script src="/soundlike/main.js"  type="text/javascript"></script>
  <script src="/player.js"  type="text/javascript"></script>
  </body>
</html>
